* {
  margin: 0;
  padding: 0;
}


.fondo-header{
  background-color: orangered; 
}

.link-header{
  color: white;
  font-weight: bold;
}

.fondo-naranja{
  background-color: orangered;
  bottom: 0;  
  width: 100%;  
  margin-left: 0 !important;

}

.prueba{
  display: flex;
  justify-content: space-between;
}

.imgMain{
  width: 100%;
}
.imgContainer{
  max-height: 40rem;

  min-height: 35rem;
}

.imgCart{
  margin-right: 25px;
}

.cardCss{
  display: flex;
  width: 30%;
  float: left;
  min-height: 1000px;
}

.card{
  min-height: 55rem;
  max-width: 30rem;
}



/* BTN CARDS */

.buttonCount {
  border: none;
  font-size: 25px;
}

.countGral {
  width: 70%;
  margin: auto;
  border-bottom: 1px solid #010101;
}

#buttonUp {
  color: green;
  width: 8%;
  border-radius: 10%;
}

#buttonDown {
  color: red;
  width: 5%;
  border-radius: 10%;
}
.btnGral{
  background-color: grey;
  text-decoration: none;
  color: white;
  border: 1px solid black;
  padding: 1%;
  border-radius: 8px;
  font-weight: 700;
}
.btnGral:hover{
  color: #010101;
}
