* {
  margin: 0;
  padding: 0;
}

.fondo-header{
  background-color: orangered; 
}

.link-header{
  color: white;
  font-weight: bold;
}

.fondo-naranja{
  background-color: orangered;
}

.prueba{
  display: flex;
  justify-content: space-between;
}

.imgMain{
  width: 100%;
}

.imgCart{
  margin-right: 25px;
}

